
src/build/*

src/depend/*

*.o

*.d

*.a

bin/*

*.swp

*.nc

*.txt



*.tar.gz



test

!python-sdk/test

test/*.nc

test/*.nc4

test/*.dat

test/*.txt

test/*.g

test/cfsr_tests

test/*.eps

test/*.png

test/statfigs/*

src/*